{% extends 'base.html.twig' %}

{% block title %}TypePrice{% endblock %}

{% block body %}
    <h1>TypePrice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_price.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type_price.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_price_index') }}">back to list</a>

    <a href="{{ path('type_price_edit', {'id': type_price.id}) }}">edit</a>

    {{ include('type_price/_delete_form.html.twig') }}
{% endblock %}
