{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}

<div class="card">
  <h1 class="card-header text-center font-weight-bold text-uppercase py-4">Type de produits</h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="sortable">
        {% for type in types %}
            <tr class="type-list" data-id="{{ type.id }}" data-order="{{type.value}}">
                <td>{{ type.name }}</td>
                <td>{{ type.label }}</td>
                <td class="d-flex">
                    <span class="table-remove mr-2">
                    <a href="{{ path('type_edit', {'id': type.id}) }}"
                    class="btn btn-danger btn-rounded btn-sm my-0">Editer
                    </a>
                </span>
              <span class="table-remove">
               <a href="{{ path('type_show', {'id': type.id}) }}"
                  class="btn btn-danger btn-rounded btn-sm my-0">Afficher
                </a>
              </span>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
    <a class="btn btn-primary btn-rounded btn-sm my-0" href="{{ path('type_new') }}">Create new</a>
{% endblock %}
        {% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $(".sortable").sortable({
                update: function (event, ui) {
                    let orderArray = [];
                    $('.type-list').each(function (i) {
                        var humanNum = i + 1;
                        $(this).attr('data-order', humanNum);
                        $(".type-list").each(function (i) {
                            let typeOrder = {};
                            typeOrder.id = this.getAttribute('data-id');
                            typeOrder.order = this.getAttribute('data-order');
                            orderArray.push(typeOrder)
                        });
                    });
                    $.ajax({
                            url: 'http://admin.ojbento.fr/type/patch',
                            type: "PATCH",
                            data: {
                                orderArray: orderArray,
                            }
                        }
                    )
                }
            });
            $("#sortable").disableSelection();

        })
    </script>
{% endblock %}
