{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}
    <a class="btn btn-primary btn-rounded btn-sm my-0" style="margin: 40px" href="{{ path('assoc_new') }}">Créer une association</a>
    <ul style="margin-top: 20px">
        {%  for type in types %}
            <li >
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="heading-{{type.id}}">

                            <h2 class="mb-0">
                                <span class="span-order">{{ type.value }}</span>
                                <button class="type-collapse" type="button" data-toggle="collapse" data-target="#collapse-{{type.id}}" aria-expanded="true" aria-controls="collapse-{{type.id}}">
                                    {{ type.name }}
                                </button>
                            </h2>

                        </div>
                        <div id="collapse-{{type.id}}" class="collapse hidden" aria-labelledby="heading-{{type.id}}" data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Quantité</th>
                                        <th>Produits</th>
                                        <th>Images</th>
                                        <th>Prix</th>
                                        <th>Description</th>
                                        <th>Composition</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="sortable">
                                    {% for assoc in type.assocs %}
                                        {%  if assoc.forMenu != true%}
                                            <tr class="type-list" data-id="{{ assoc.id }}" data-order="{{assoc.value}}">
                                                <td class="pt-3-half" >{{ assoc.quantity }}</td>
                                                <td class="pt-3-half" >{{ assoc.type }} {{ assoc.product }}</td>
                                                <td class="pt-3-half" >{% if assoc.image %} <img src="{{ asset(assoc.image.imgpath) }}" alt="{{ assoc.image.alt }}" width="100px" height="100px" />
                                                        <br>
                                                        {{ assoc.image.alt }}
                                                    {% endif %}</td>
                                                <td class="pt-3-half" >{% for price in assoc.prices %} <div>{{ price.type }} {{ price }}€ </div>{%  endfor %}</td>
                                                <td class="pt-3-half" >{{ assoc.description }}</td>
                                                <td class="pt-3-half" >{{ assoc.composition }}</td>
                                                <td>
                                                    <a class="btn btn-info btn-rounded btn-sm my-3" href="{{ path('assoc_edit', {'id': assoc.id}) }}">Editer</a>
                                                    <a>{{ include('assoc/_delete_form.html.twig') }}</a>
                                                </td>
                                            </tr>

                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $(".sortable").sortable({
                update: function (event, ui) {
                    let orderArray = [];
                    $('.type-list').each(function (i) {
                        var humanNum = i + 1;
                        $(this).attr('data-order', humanNum);
                        $(".type-list").each(function (i) {
                            let typeOrder = {};
                            typeOrder.id = this.getAttribute('data-id');
                            typeOrder.order = this.getAttribute('data-order');
                            orderArray.push(typeOrder)
                        });
                    });
                    $.ajax({
                            url: 'http://admin.ojbento.fr/assoc/patch',
                            type: "PATCH",
                            data: {
                                orderArray: orderArray,
                            }
                        }
                    )
                }
            });
            $("#sortable").disableSelection();

        })
    </script>
{% endblock %}

